@using Syncfusion.Blazor.ProgressBar
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using StationAssistant.Data.Entities;
@inject StationAssistant.Services.IStationDataService StationData
@inject StationAssistant.Services.NotificationService NotificationService
@inject NavigationManager NavigationManager
@attribute [AuthorizeRoles(Role.Admin, Role.DSC)]

@if (PathsHided)
{
    <p>Загрузка...</p>
}
else
{
    if (PathSelectorVisible)
    {
        <ConfirmModal Title="Путь перестановки" DialogClose="() => { PathSelectorVisible = false; }" OverlayClick="() => { PathSelectorVisible = false; }" OKClick="(async () => { PathSelectorVisible = false; await OnRelocateTrain(); })" Width="450" Height="180">
            <PathSelector @ref="pathSelector" selectedTrain="targetTrainModel" />
        </ConfirmModal>
    }
    if (FormationIsVisible)
    {
        <ConfirmModal Title="Накопительная ведомость" DialogClose="(() => FormationIsVisible = false)" OverlayClick="(() => FormationIsVisible = false)" OKButtonName="Сформировать" OKClick="OnFormTrain">
            <FormationSheet @ref="formationSheet" path="selectedPathItem" onUpdateVagon="onUpdateVagon"></FormationSheet>
        </ConfirmModal>
    }
    if (TrainListIsVisible)
    {
        <ConfirmModal Title="Натурный лист" DialogClose="(() => TrainListIsVisible = false)" OverlayClick="(() => TrainListIsVisible = false)" OKButtonName="ОК" OKClick="(() => TrainListIsVisible = false)">
            <SfGrid DataSource="targetTrainModel.Wagons" EnableVirtualization="false" AllowSorting="true" TValue="WagonModel">
                <GridColumns>
                    <GridColumn Field=@nameof(WagonModel.SequenceNum) HeaderText="№" Width="25"></GridColumn>
                    <GridColumn Field=@nameof(WagonModel.Num) HeaderText="Номер" TextAlign="TextAlign.Left" IsPrimaryKey="true" Width="50"></GridColumn>
                    <GridColumn Field=@nameof(WagonModel.Kind) HeaderText="Род" Width="40"></GridColumn>
                    <GridColumn Field=@nameof(WagonModel.Destination) HeaderText="Назначение" Width="60"></GridColumn>
                    <GridColumn Field=@nameof(WagonModel.Ksob) HeaderText="Собственник" Width="70"></GridColumn>
                    <GridColumn Field=@nameof(WagonModel.Tvag) HeaderText="Тара" Width="40"></GridColumn>
                    <GridColumn Field=@nameof(WagonModel.WeightNetto) HeaderText="Вес" Width="40"></GridColumn>
                    <GridColumn Field=@nameof(WagonModel.Mark) HeaderText="Отметки" Width="60"></GridColumn>
                </GridColumns>
            </SfGrid>
        </ConfirmModal>
    }
    <div class="control-section">
        <div class="control_wrapper accordion-control-section">
            @if(!AccordionStateChanged)
             {
             <SfAccordion @ref="Accordion" @key="Area">
                <AccordionItems @ref="AccordionItemRef" @key="Area">
                    @foreach (PathModel path in paths)
                    {
                        <AccordionItem Expanded="@(path.Occupation != 0)" CssClass="border-1" Visible="@(!isEmpty ? true : path.Occupation!=0)" @key="path.Id">
                            <HeaderTemplate>
                                <h6 class="ml-1"> Путь №@path.PathNum (@path.Length)   @path.Marks </h6>
                            </HeaderTemplate>
                            <ContentTemplate>
                                <div class="container">
                                    <div class="row">
                                        @if (path.AnyTrain)
                                        {
                                            <div class="col-2 align-content-start">
                                                <SfButton OnClick="async () => await OnPathSelect(path.Id)">Перестановка</SfButton>
                                            </div>
                                            <div class="col-2 align-content-start">
                                                <SfButton OnClick="@(() => {NavigationManager.NavigateTo("departure");})">Отправление</SfButton>
                                            </div>
                                            <div class="col-2">
                                                <SfButton OnClick="(async() => await OnTrainListCall(path.Id))">Натурный лист</SfButton>
                                            </div>
                                        }
                                        else if (path.Occupation != 0)
                                        {
                                            <div class="col-2">
                                                <SfButton OnClick="(() => { FormationIsVisible = true; selectedPathItem = path; })">@(path.Sort ? "Накопительная ведомость" : "Ведомость вагонов")</SfButton>
                                            </div>
                                        }
                                    </div>
                                    <div>
                                        @{
                                            <SfProgressBar Type="ProgressType.Linear" Height="38" @ref="sfProgress" IsStriped="true"
                                                           SegmentCount="@path.Length" Value="path.TrainLength" SecondaryProgress="@path.Occupation" Minimum="0" Maximum="@path.Length"
                                                           Theme="@ProgressTheme.Material" ProgressThickness="30" ProgressColor="#337ab7" TrackThickness="32" TrackColor="#94b4dd" @key="path.Id">
                                                <ProgressBarAnimation Enable="false" />
                                            </SfProgressBar>
                                        }
                                    </div>
                                </div>
                            </ContentTemplate>
                        </AccordionItem>
                    }
                </AccordionItems>
            </SfAccordion>
            }
        </div>
    </div>
    <style>
        .progressbar-label-bootstrap {
            text-align: left;
            font-family: Roboto-Regular;
            font-size: 14px;
            color: #3D3E3C;
            margin-left: 10px;
            padding: 0px;
        }
    </style>
                                            }

@code {

    [Parameter] 
    public string Area { get; set; }
    FormationSheet formationSheet;
    SfAccordion Accordion;
    AccordionItems AccordionItemRef;
    SfProgressBar sfProgress;
    PathSelector pathSelector;
    TrainModel targetTrainModel;
    public List<PathModel> paths { get; set; }
    private PathModel selectedPathItem = null;
    private bool PathsHided { get; set; } = true;
    private bool AccordionStateChanged { get; set; } = false;
    [Parameter] 
    public bool isSort { get; set; }
    [Parameter] 
    public bool isEmpty { get; set; }
    private bool FormationIsVisible = false;
    private bool TrainListIsVisible = false;
    private bool PathSelectorVisible { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        paths = await StationData.GetPathsOnAreaAsync(Area, isSort);
        PathsHided = false;
    }

    private async Task OnPathSelect(int pathId)
    {
        targetTrainModel = await StationData.GetTrainOnPath(pathId);
        PathSelectorVisible = true;
    }

    [AuthorizeRoles(Role.DSC)]
    private async Task OnTrainListCall(int pathId)
    {
        targetTrainModel = await StationData.GetTrainOnPath(pathId, true);
        TrainListIsVisible = true;
    }

    private async Task OnFormTrain()
    {
        FormationIsVisible = false;
        if (!formationSheet.selectedVagons.Any())
        {
            NotificationService.SetMessage(TypeNotification.Warning, "Не выделено ни одного вагона для формирования поезда");
            return;
        }
        try
        {
            byte trainKind = formationSheet.GetSelectedTrainKind();
            await StationData.FormTrain(formationSheet.selectedVagons, trainKind, formationSheet.PFclaimsOn);
            NotificationService.SetMessage(TypeNotification.Success, $"Операция по формированию поезда проведена успешно");
            await Task.Delay(2500);
            NavigationManager.NavigateTo("paths", true);
        }
        catch (Exception e)
        {
            if (e is ArgumentException)
            {
                NotificationService.SetMessage(TypeNotification.Warning, (e as ArgumentException).ParamName);
            }
            else if (e is HttpRequestException)
            {
                var code = e.HResult;
                NotificationService.SetMessage(TypeNotification.Warning, e.Message);
            }
            else if (e is RailProcessException)
            {
                NotificationService.SetMessage(TypeNotification.Warning, e.Message);
            }
            else
            {
                NotificationService.SetMessage(TypeNotification.Error, "Не удалось выполнить операцию");
            }
            return;
        }
    }

    private async Task onUpdateVagon(Vagon updatedVagon)
    {
        try
        {
            await StationData.UpdateVagon(updatedVagon);
            NotificationService.SetMessage(TypeNotification.Success, $"Для вагона №{updatedVagon.Num} внесены корректировки");
        }
        catch (Exception)
        {
            NotificationService.SetMessage(TypeNotification.Error, $"Не удалось сохранить изменения");
        }
    }

    public async Task GetPaths(bool isSort, bool isEmpty)
    {
        this.isEmpty = isEmpty;
        AccordionStateChanged = true;
        StateHasChanged();
        paths = await StationData.GetPathsOnAreaAsync(Area, isSort);
        AccordionStateChanged = false;
        StateHasChanged();
    }

    public void UpdateState()
    {
        NavigationManager.NavigateTo("paths", true);
    }

    public async Task OnRelocateTrain()
    {
        await StationData.RelocateTrain(targetTrainModel.Id, pathSelector.PathId);
        NotificationService.SetMessage(TypeNotification.Success, $"Перестановка поезда №{targetTrainModel.Num} на другой путь завершена");
        this.UpdateState();
    }

}
